@charset "utf-8";
/* CSS Document */

body    {
			background-color: #add392;
			font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
			font-size:medium;
			color:#681112;
}



header  {
	width: 900px;
	height: 200px;
	background-color: #1D5630;
	text-align: center;
	padding-top: 10px;
	margin: auto;
}

section {
	width: 900px;
	background-image: url('Images/2colback.jpg');
	background-repeat: repeat-y;
	overflow: hidden;
	margin: auto;
}

nav {
	float: left;
	width: 650px;
	text-align: center;
}

article {
	float: left;
	width: 650px;
	text-align: center;
}

footer {
	text-align: center;
	width: 900px;
	height: 70px;
	background-color: #366119;
	margin: auto;
}
.logoleft {
	float: left;
	padding-top: 0px;
	padding-left: 15px;
}

nav a {
	border: 6px inset #038328;
	background-color: #135601;
	line-height: 250%;
	font-weight: bold;
	font-size: 35px;
	color: #75CD88;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

nav a:hover {
	color: #3A7E44;
	border: 4px outset #070000;
}
h1 {
	color: #070707;
	text-align: center;
	font-size: xx-large;
}

p { color: #000000;}